* {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    color:#333333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

@media screen and ( min-width: 771px) {
    #first {
	font-size: 54px;
    }
    #second {
	font-size: 38px;
    }
}
@media screen and ( max-width: 770px) {
    #first {
	font-size: 40px;
    }
    #second{
	font-size: 28px;
    }
}

.content {
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 2%;
}

.row{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    width: 50%;
}
#one {
    float: left;
}
#two > img{
    float: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer{
    text-align: center;
    color: grey;
    padding-bottom: 4%;
}

h2{
    color: #0275DA;
}

.socials > a{
    opacity: 80%;
}
.socials > a:hover{
    opacity:100%;
}

.header{    
    text-align: center;
    padding-bottom: 2px;
    padding-top: 25px;
}

.header > a{
    text-transform: uppercase;
    color: #A9A9A9;
    margin: 3%;
    font-size: 16px;
}

.header > a:hover{
    color: #0275DA;
}




