* {
    text-decoration: none;
}

body {
  /* background-color:#e6f7ff; */
  color:#333333;
  /* font-family: Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.content{
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.row{ 
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer{
    text-align: center;
    color: grey;
    padding-bottom: 4%;
}

h2{
    color: #0275DA;
}


.socials > a{
    opacity: 80%;
}
.socials > a:hover{
    opacity:100%;
}

.header{    
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
}

.header > a{
    text-transform: uppercase;
    color: #A9A9A9;
    margin: 5%;
}

.header > a:hover{
    color: #0275DA;
}

